.container {
  margin-top: 30px;
}
p{
  color : white
}

#box{
  margin: 0 10px;
  background-color: red;
}

#box2{
  margin: 0 10px;
  background-color: blue;
}
#box3{
  margin: 0 10px;
  background-color: green;
}